/*	Css style for Home page		*/
====================================================

.lightbox{border:1px solid #EECCEE;with:200px;height400px;}
.lightbox .img{width:150px;height:300px;margin:10px;padding:10px}

a.login{text-decoration:none;font-weight:bold:font-size:20px;}
